<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balmoral Hotel</title>
    <link rel="stylesheet" href="public/styles/balmoral_hotel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="./landing_index.html" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                        aria-label="Search">
                </form>

            </div>
        </div>
    </header>
    <div class="place-name">
        Balmoral Hotel
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/balmoral.jpg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                The Balmoral is like one of the Mecca for the Harry Potter fans. At the east end of Princes Street, just
                a few meters away from the Scott Monument, there is a Victorian Building that has been one of the
                landmarks of Edinburgh: The Balmoral, a luxury five-star hotel which opened more than 100 years ago.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                If you enter the hotel, pass the hall and turn right into the elevator, go to the fifth floor, exit the
                elevator and walk through the corridor to the right, you will find the door of Room 552 in the corner,
                decorated with an owl and a small golden sign: The J.K. Rowling Suite. Although this is called “a room”,
                The J.K. Rowling Suite looks like an apartment, and not a small one.
                <br>
            </p>
            <img src="public/images/balmoral2.jpg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content-text">
            <p>If you ever visit Edinburgh, and find yourself at North Bridge and Princes Street, look up and search for
                the highest window in the corner, and you may cross looks with a marble bust that was witness to how
                J.K. Rowling put her ideas into words, in a room in the city center of the Scottish capital.
            </p>
        </div>
        <div class="content3">
            <p class="title"><u>How to Find The Balmoral</u></p>
            <p class="content-text2">If you’re heading for the King's Cross then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li> If you are already in Edinburgh, you can ask locals or hotel staff for directions. It's a
                    well-known landmark, and most people will be able to point you in the right direction.
                </li>
                <li>Balmoral Hotel -
                    1 Princes Street, Edinburgh,
                    EH2 2EQ, United Kingdom.
                </li>

            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4414.300724988868!2d-3.1891471840346264!3d55.951602257112334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7565b71bd99%3A0x1228a6e5401d2d97!2sThe%20Balmoral!5e0!3m2!1sen!2sin!4v1690565042201!5m2!1sen!2sin"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer class="footer">
        <div class="footer1">
            <div class="contact">
                <h1>Contact Us</h1>
                <hr>
            </div>
            <div class="contact-details">
                Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
                Contact - +91-9426941917 | +91-9081112253<br>
                Github - <a href="https://github.com/maineel">Neel</a> | <a
                    href="https://github.com/Kevalj9999">Keval</a>
            </div>
        </div>
        <div class="credits">
            ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
                href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
        </div>
    </footer>
</body>

</html>