<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balmoral Hotel</title>
    <link rel="stylesheet" href="public/styles/balmoral_hotel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/places" class="nav-link px-2 text-white">Places</a></li>
                    <li><a href="/flight_book" class="nav-link px-2 text-white">Flights</a></li>
                    <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
                </ul>

            </div>
        </div>
    </header>
    <div class="place-name">
        Balmoral Hotel
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/balmoral.jpg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                The Balmoral is like one of the Mecca for the Harry Potter fans. At the east end of Princes Street, just
                a few meters away from the Scott Monument, there is a Victorian Building that has been one of the
                landmarks of Edinburgh: The Balmoral, a luxury five-star hotel which opened more than 100 years ago.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                If you enter the hotel, pass the hall and turn right into the elevator, go to the fifth floor, exit the
                elevator and walk through the corridor to the right, you will find the door of Room 552 in the corner,
                decorated with an owl and a small golden sign: The J.K. Rowling Suite. Although this is called “a room”,
                The J.K. Rowling Suite looks like an apartment, and not a small one.
                <br>
            </p>
            <img src="public/images/balmoral2.jpg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content-text">
            <p>If you ever visit Edinburgh, and find yourself at North Bridge and Princes Street, look up and search for
                the highest window in the corner, and you may cross looks with a marble bust that was witness to how
                J.K. Rowling put her ideas into words, in a room in the city center of the Scottish capital.
            </p>
        </div>
        <div class="content3">
            <p class="title"><u>How to Find The Balmoral</u></p>
            <p class="content-text2">If you’re heading for the King's Cross then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li> If you are already in Edinburgh, you can ask locals or hotel staff for directions. It's a
                    well-known landmark, and most people will be able to point you in the right direction.
                </li>
                <li>Balmoral Hotel -
                    1 Princes Street, Edinburgh,
                    EH2 2EQ, United Kingdom.
                </li>

            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4414.300724988868!2d-3.1891471840346264!3d55.951602257112334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7565b71bd99%3A0x1228a6e5401d2d97!2sThe%20Balmoral!5e0!3m2!1sen!2sin!4v1690565042201!5m2!1sen!2sin"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="packages">
        <p class="title"><u>Packages</u></p>
        <div class="package-card">
            <div class="package-num">
                <h5 style="color: goldenrod;"><u>Package 1</u>:</h5>
            </div>
            <div class="package-content">
                <h6>Edinburgh + Northumberland +  Evanton</h6>
                <table>
                    <tr>
                        <td>
                            Duration: 3N/4D
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Places Covered: The Balmoral Hotel, Alnwick Castle, Black Rock Gorge
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Price : €700
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Includes:
                            <li>
                                Site entrance fees
                            </li> 
                            <li>
                                Travel charges 
                            </li> 
                            <li>
                                Guide fees
                            </li> 
                        </td>
                    </tr>
                </table>
                <form action="/package_payment">
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
            </div>
        </div>
        <div class="package-card">
            <div class="package-num">
                <h5 style="color: goldenrod;"><u>Package 2</u>:</h5>
            </div>
            <div class="package-content">
                <h6>Edinburgh + Evanton</h6>
                <table>
                    <tr>
                        <td>
                            Duration: 2N/3D
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Places Covered: The Balmoral Hotel, Black Rock Gorge
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Price : €400
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Includes:
                            <li>
                                Site entrance fees
                            </li> 
                            <li>
                                Travel charges 
                            </li> 
                            <li>
                                Guide fees
                            </li> 
                        </td>
                    </tr>
                </table>
                <form action="/package_payment">
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
            </div>
        </div>
        <div class="package-card">
            <div class="package-num">
                <h5 style="color: goldenrod;"><u>Package 3</u>:</h5>
            </div>
            <div class="package-content">
                <h6>Edinburgh + Northumberland</h6>
                <table>
                    <tr>
                        <td>
                            Duration: 2N/3D
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Places Covered: The Balmoral Hotel, Alnwick Castle
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Price : €400
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Package Includes:
                            <li>
                                Site entrance fees
                            </li> 
                            <li>
                                Travel charges 
                            </li> 
                            <li>
                                Guide fees
                            </li> 
                        </td>
                    </tr>
                </table>
                <form action="/package_payment">
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
            </div>
        </div>
    </div>
    <div class="content-hotel">
        <p class="title"><u>Hotel's Near The Balmoral</u></p>
    </div>
    <div class="content-hotel">
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Royal Suites Edinburgh
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 1 Princes Street, Edinburgh
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €180
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 123-456-7890
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.6⭐
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Scottish Heritage Hotel
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 2 Queen Street, Edinburgh
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €150
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 987-456-4321
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.3⭐
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Edinburgh Castle View Lodge
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 3 Castlehill, Edinburgh
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €220
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 435-765-8321
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.8⭐
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
        <div class="rating_container">
          <h1>Rating and Review</h1>
          <form method="post" action="/balmoral_hotel">
            <div class="rating-stars">
                <input type="radio" name="rating" id="star5" value=5 required>
                <label class="rating-star-label" for="star5">&#9733;</label>
                <input type="radio" name="rating" id="star4" value=4 required> 
                <label class="rating-star-label" for="star4">&#9733;</label>
                <input type="radio" name="rating" id="star3" value=3 required>
                <label class="rating-star-label" for="star3">&#9733;</label>
                <input type="radio" name="rating" id="star2" value=2 required>
                <label class="rating-star-label" for="star2">&#9733;</label>
                <input type="radio" name="rating" id="star1" value=1 required>
                <label class="rating-star-label" for="star1">&#9733;</label>
            </div>
            <textarea class="review-input" placeholder="Write your review..." name="text_review" required></textarea>
            <button class="submit-button">Submit</button>
        </form>
        <% review_details.forEach(function(element) { %>
            <div class="reviews">
                <div class="review">
                <div class="rating-stars2">
                    <% for (let i = 0; i < element.rating; i++) { %>
                        <label class="rating-star-label golden">&#9733;</label>
                    <% } %>
                </div>
                <p><%= element.review %></p>
                </div>
          </div>
        <% }); %>
        </div>
    <footer class="footer">
        <div class="footer1">
            <div class="contact">
                <h1>Contact Us</h1>
                <hr>
            </div>
            <div class="contact-details">
                Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
                Contact - +91-9426941917 | +91-9081112253<br>
                Github - <a href="https://github.com/maineel">Neel</a> | <a
                    href="https://github.com/Kevalj9999">Keval</a>
            </div>
        </div>
        <div class="credits">
            ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
                href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
        </div>
    </footer>
</body>

</html>