<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodePel">
    <title> Airline Booking</title>
    <link rel="stylesheet" href="public/styles/flight_book.css">
</head>

<body class="cd__main">
    <main>
        <div class="booking-form-w3layouts">
            <form action="/flight_book" method="post">
                <h2 class="sub-heading-agileits">Booking Details</h2>
                <div class="main-flex-w3ls-sectns">
                    <div class="field-agileinfo-spc form-w3-agile-text1">
                        <select id="from" class="form-control" name="from" onchange="test()">
                            <option>From</option>
                            <option class="from" value="LHR">London</option>
                            <option class="from" value="CDG">Paris</option>
                            <option class="from" value="FRA">Frankfurt</option>
                            <option class="from" value="AMS">Amsterdam</option>
                            <option class="from" value="FCO">Rome</option>
                            <option class="from" value="MAD">Madrid</option>
                            <option class="from" value="MUC">Munich</option>
                            <option class="from" value="BCN">Barcelona</option>
                        </select>
                    </div>
                    <div class="field-agileinfo-spc form-w3-agile-text2">
                        <select id="to" name="to" class="form-control">
                            <option>To</option>
                            <option class="from" value="LHR">London</option>
                            <option class="from" value="CDG">Paris</option>
                            <option class="from" value="FRA">Frankfurt</option>
                            <option class="from" value="AMS">Amsterdam</option>
                            <option class="from" value="FCO">Rome</option>
                            <option class="from" value="MAD">Madrid</option>
                            <option class="from" value="MUC">Munich</option>
                            <option class="from" value="BCN">Barcelona</option>
                        </select>
                    </div>
                </div>
                <div class="main-flex-w3ls-sectns">
                    <div class="field-agileinfo-spc form-w3-agile-text2">
                        <select id="class" name="airline_class" class="form-control">
                            <option>Preferred Class</option>
                            <option value="ECONOMY">Economy</option>
                            <option value="PREMIUM_ECONOMY">Premium Economy</option>
                            <option value="FIRST">First</option>
                            <option value="Business">Business</option>
                        </select>
                    </div>
                </div>  
                <div class="main-flex-w3ls-sectns">
                    <div id="adults" class="field-agileinfo-spc form-w3-agile-text1">
                        <select name="adults" class="form-control">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                            <option value=10>10</option>
                        </select>
                    </div>
                    <div id="children" class="field-agileinfo-spc form-w3-agile-text1">
                        <select name="children" class="form-control">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </div>
                    <div id="infants" class="field-agileinfo-spc form-w3-agile-text1">
                        <select name="infants" class="form-control">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </div>
                </div>
                <div class="main-flex-w3ls-sectns">
                    <div id="flight-type" class="field-agileinfo-spc form-w3-agile-text1">
                        <select name="nonstop"class="form-control">
                            <option value="">Flight type</option>
                            <option value=true>Non-stop</option>
                            <option value=false>Layover</option>
                        </select>
                    </div>
                    <div id="currency" class="field-agileinfo-spc form-w3-agile-text1">
                        <select name="currency" class="form-control">
                            <option value="">Currency</option>
                            <option value="AED">AED</option>
                            <option value="CAD">CAD</option>
                            <option value="EUR">EUR</option>
                            <option value="INR">INR</option>
                            <option value="USD">USD</option>
                            <option value="AUD">AUD</option>
                        </select>
                    </div>
                </div>
                <div class="main-flex-w3ls-sectns">
                    <div id="departure-date">
                        <label for="departure-date">Departure Date:</label>
                        <input type="date" class="datepicker" name="departure_date" required>
                    </div>
                    <div id="return-date">
                        <label for="departure-date">Return Date: (Optional)</label>
                        <input type="date" class="datepicker" name="arrival_date">
                    </div>
                </div>
                <div class="clear"></div>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear Form">
                <div class="clear"></div>
            </form>
        </div>
    </main>
    <script src="./scripts/flight_book.js" ></script>
</body>
</html>