<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godric's Hollow</title>
    <link rel="stylesheet" href="public/styles/godrics_hollow.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="./landing_index.html" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                        aria-label="Search">
                </form>

            </div>
        </div>
    </header>
    <div class="place-name">
        Godric's Hollow
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/godric2.jpeg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                Godric's Hollow was a village in the West Country of England. It was a small community, Godric's Hollow
                was inhabited by a number of notable wizarding families. The Dumbledore family and Bathilda Bagshot both
                resided in the village. It was perhaps most famous as where Harry Potter and his parents lived when he
                was a baby, where they were murdered, and Lord Voldemort met his first downfall.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                The history may ring true with Harry Potter fans, who know that the Godric’s Hollow of the book series
                was also a place of complex history: It was the location where Lord Voldemort killed baby Harry’s
                parents, Lily and James.
                <br>
            </p>
            <img src="public/images/godric1.jpeg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content3">
            <p class="title"><u>How to Find Godric's hollow</u></p>
            <p class="content-text2">If you’re heading for Godric's Hollow then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li>The real Godric's Hollow is located in the medieval village of Lavenham in Suffolk.
                </li>
                <li>Lavenham is an ancient medieval wool town located in Suffolk in the East of England. This is a
                    two-hour drive from central London.
                </li>
                <li>If you’re not driving, there is no train station in Lavenham. But, the nearest stop is Sudbury which
                    is only 90 minutes from London by train.
                    Once you get there, you can then switch to a bus service (45 minutes) or taxi (15 minutes) to reach
                    Lavenham.
                </li>

            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.47269578103!2d0.7909483909437574!3d52.107527599646616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9ac9f6e8c99d7%3A0x489749045648d14b!2sDE%20VERE%20HOUSE%20B%26B!5e0!3m2!1sen!2sin!4v1690566721997!5m2!1sen!2sin"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="content-hotel">
        <p class="title"><u>Hotel's Near Godric's Hollow</u></p>
    </div>
    <div class="content-hotel">
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Lavenham Manor Hotel  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 1 High Street, Lavenham
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €180
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 123-456-7890  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.5⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Lochside Resort  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 2, Market square, Lavenham 
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €150  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 987-456-4321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.4⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Rose Cottage Retreat
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 3, Church Street, Lavenham  
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €180  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 435-765-8321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.8⭐  
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="footer1">
            <div class="contact">
                <h1>Contact Us</h1>
                <hr>
            </div>
            <div class="contact-details">
                Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
                Contact - +91-9426941917 | +91-9081112253<br>
                Github - <a href="https://github.com/maineel">Neel</a> | <a
                    href="https://github.com/Kevalj9999">Keval</a>
            </div>
        </div>
        <div class="credits">
            ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
                href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
        </div>
    </footer>
</body>

</html>