<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King's Cross</title>
    <link rel="stylesheet" href="public/styles/kings_cross.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/places" class="nav-link px-2 text-white">Places</a></li>
                    <li><a href="/flight_book" class="nav-link px-2 text-white">Flights</a></li>
                    <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="place-name">
        Platform 9 3/4
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/platform.jpg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                As any fan of J.K. Rowling’s bestselling series will know, King’s Cross is where students of Hogwarts
                School of Witchcraft and Wizardry catch the Hogwarts Express. In real King’s Cross, platforms 9 and 10
                are separated by tracks, but you can find a platform 9¾ on the
                wall in the station concourse.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                Look out for a luggage trolley embedded in the wall, and make-believe that you are off to start your
                magical school journey. The trolley is accessible at all hours, and you don’t have to pay to take your
                own photographs. You can have a professional photograph taken with a scarf in your house colours, which
                is then available for you to view and purchase inside the Harry Potter shop next door.
                <br>
            </p>
            <img src="public/images/trolly.jpg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content-text">
            <p>Queues for the trolley can get busy during school holidays and festive periods visit early to make sure
                you’re one of the first in line!. The author revealed that it’s where her parents first met. They met on
                a train to Scotland which departed from Kings Cross.
            </p>
        </div>
        <div class="content3">
            <p class="title"><u>How to Find King's cross</u></p>
            <p class="content-text2">If you’re heading for the King's Cross then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li> Several London bus routes, including 30, 59, 73, 91, 205, 390 and 476 pass in front of or to the
                    side of the station.
                </li>
                <li>The station stands on the London Inner Ring Road at the eastern end of Euston Road, next to the
                    junction with Pentonville Road.
                </li>
                <li>Take the Nothern line Southbound, taking the “via Bank” train. You could also save the tube fare and
                    walk to King’s Cross because the two trains stations are very close to each other. See the bus route
                    section below for more information.</li>
            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8322.854185384182!2d-0.12594774669156455!3d51.53422489344225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b10c73c4dcd%3A0x616f11fed05d6bb9!2sKings%20Cross%2C%20London%2C%20UK!5e0!3m2!1sen!2sin!4v1690564247662!5m2!1sen!2sin"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="content-hotel">
        <p class="title"><u>Hotel's Near King's Cross</u></p>
    </div>
    <div class="content-hotel">
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : King's Cross Luxury Suites  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 123 King's Road, London
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €160
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 123-456-7890  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.6⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Central Station Hotel  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 456 Euston Road, London
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €180  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 987-456-4321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.6⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : King's Cross Garden Inn
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 789 Pentonville Road, London
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €120  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 435-765-8321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.8⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Cosy Corner Appartments  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 987 York Way, London
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €160
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 123-456-7890  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.5⭐  
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="footer1">
            <div class="contact">
                <h1>Contact Us</h1>
                <hr>
            </div>
            <div class="contact-details">
                Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
                Contact - +91-9426941917 | +91-9081112253<br>
                Github - <a href="https://github.com/maineel">Neel</a> | <a
                    href="https://github.com/Kevalj9999">Keval</a>
            </div>
        </div>
        <div class="credits">
            ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
                href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
        </div>
    </footer>
</body>

</html>