<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loch Sheil</title>
    <link rel="stylesheet" href="public/styles/loch_sheil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/places" class="nav-link px-2 text-white">Places</a></li>
                    <li><a href="/flight_book" class="nav-link px-2 text-white">Flights</a></li>
                    <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="place-name">
        Loch Sheil
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/loch.jpg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                Loch Shiel is a freshwater lake and is the fourth longest loch in Scotland. It is located near both the
                Glenfinnan Viaduct and the Glenfinnan Monument. Within the realm of Harry Potter, Loch Shiel can often
                be seen as background scenery in the films and we
                believe it shows up at least briefly in all 8 movies.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                It can often be seen in the background during Hogwarts Express sequences. For instance in Harry Potter
                and the Prisoner of Azkaban, you can see it both as part of the train journey as well as later when
                Harry Potter flies over it when riding Buckbeak the hippogriff.
                <br>
            </p>
            <img src="public/images/loch2.jpg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content-text">
            <p>There’s an excellent view of the loch from atop of the Glenfinnan Monument. There is a fee to climb the
                Glenfinnan monument which you can pay for at the visitor center next to the
                parking area. It is free to visit the Glenfinnan Monument viewpoint but there’s a small parking fee
            </p>
        </div>
        <div class="content3">
            <p class="title"><u>How to Find loch sheil</u></p>
            <p class="content-text2">If you’re heading for Loch Sheil then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li> Loch Shiel is a freshwater loch situated 20 kilometres (12 mi) west of Fort William in the Highland
                    council area of Scotland.
                </li>
                <li>The West Highland railway line and the A830 road both pass the northern end of the Loch Shiel at
                    Glenfinnan, whilst the A861 road also runs close to the lochside for about 4 km at the southern end.
                </li>
                <li>There are no public roads that run the full length of the loch: a forestry track runs along the
                    southern side between Polloch and Glenfinnan.
                </li>

            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d139791.7459750084!2d-5.6196821!3d56.80740935000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488eb24ef4e117b7%3A0x2a3c4808bc20c2a!2sLoch%20Shiel!5e0!3m2!1sen!2sin!4v1690565782382!5m2!1sen!2sin"
            width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="content-hotel">
        <p class="title"><u>Hotel's Near Loch Sheil</u></p>
    </div>
    <div class="content-hotel">
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Glenifann Lodge
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 1 Viaduct Road, Glenfinnan
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €180
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 123-456-7890
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.6⭐
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Hogwarts Inn
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 2 Wizardry Lane, Glenfinnan
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €150
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 987-456-4321
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.3⭐
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Lochside Retreat
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 3 Loch Terrace, Glenfinnan
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €220
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 435-765-8321
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.8⭐
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                        Hotel : Wizardry World Retreat
                    </td>
                </tr>
                <tr>
                    <td>
                        Address : 4 Viaduct road, Glenfinnan
                    </td>
                </tr>
                <tr>
                    <td>
                        Price : €180
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact : +1 125-765-5321
                    </td>
                </tr>
                <tr>
                    <td>
                        Rating : 4.5⭐
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
        <div class="rating_container">
          <h1>Rating and Review</h1>
          <form method="post" action="/loch_sheil">
            <div class="rating-stars">
                <input type="radio" name="rating" id="star5" value=5 required>
                <label class="rating-star-label" for="star5">&#9733;</label>
                <input type="radio" name="rating" id="star4" value=4 required> 
                <label class="rating-star-label" for="star4">&#9733;</label>
                <input type="radio" name="rating" id="star3" value=3 required>
                <label class="rating-star-label" for="star3">&#9733;</label>
                <input type="radio" name="rating" id="star2" value=2 required>
                <label class="rating-star-label" for="star2">&#9733;</label>
                <input type="radio" name="rating" id="star1" value=1 required>
                <label class="rating-star-label" for="star1">&#9733;</label>
            </div>
            <textarea class="review-input" placeholder="Write your review..." name="text_review" required></textarea>
            <button class="submit-button">Submit</button>
        </form>
        <% review_details.forEach(function(element) { %>
            <div class="reviews">
                <div class="review">
                <div class="rating-stars2">
                    <% for (let i = 0; i < element.rating; i++) { %>
                        <label class="rating-star-label golden">&#9733;</label>
                    <% } %>
                </div>
                <p><%= element.review %></p>
                </div>
          </div>
        <% }); %>
        </div>
    <footer class="footer">
        <div class="footer1">
            <div class="contact">
                <h1>Contact Us</h1>
                <hr>
            </div>
            <div class="contact-details">
                Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
                Contact - +91-9426941917 | +91-9081112253<br>
                Github - <a href="https://github.com/maineel">Neel</a> | <a
                    href="https://github.com/Kevalj9999">Keval</a>
            </div>
        </div>
        <div class="credits">
            ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
                href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
        </div>
    </footer>
</body>

</html>