<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shell Cottage</title>
    <link rel="stylesheet" href="public/styles/shell_cottage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="p-3 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <nav>
                    <img src="public/images/Hogwarts.png" height="50px" width="50px">
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/places" class="nav-link px-2 text-white">Places</a></li>
                    <li><a href="/flight_book" class="nav-link px-2 text-white">Flights</a></li>
                    <li><a href="/profile" class="nav-link px-2 text-white">Profile</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="place-name">
        Shell Cottage
    </div>
    <div class="content">
        <div class="content1">
            <img src="public/images/shell.jpg" alt="Shell Cottage" class="content-image1">
            <p class="content-text1">
                Shell Cottage was the home of Bill Weasley and Fleur Delacour, after their marriage in the summer of
                1997.
                It was located on the outskirts of Tinworth, Cornwall, near the coast. It was described as a "lonely and
                beautiful place."Sea Lavender could be found growing around it. It was a safehouse for various members
                of
                the Weasley family and other allies of the Order of the Phoenix during the height of the Second
                Wizarding
                War. Protected by the Fidelius Charm, its Secret-Keeper was Bill Weasley.
            </p>
        </div>
        <div class="content2">
            <p class="content-text2">
                Dobby’s death, which took place in front of Shell Cottage, is one of the most devastating and upsetting
                scenes
                throughout the whole Harry Potter series. For those who don’t know, Dobby was a house-elf belonging to
                the
                Malfoy family and was extremely protective of Harry Potter.
                <br>
                <br>
            </p>
            <img src="public/images/shell_cottage.jpg" alt="Shell Cottage" class="content-image2">

        </div>
        <div class="content-text">
            <p>To this day, the beach is visited by many a Harry Potter fan, in search of Dobby’s grave.
                The original “here
                lies Dobby, a Free Elf” stone was initially stolen, however amongst the sand dunes of Freshwater West,
                you’ll
                still find an array of memorials for Dobby.
            </p>
        </div>
        <div class="content3">
            <p class="title"><u>How to Find Dobby’s Grave</u></p>
            <p class="content-text2">If you’re heading to Freshwater West in search of Dobby’s grave then all you need
                to do
                is follow these instructions…</p>
            <ul class="content-text3">
                <li>Walk along the beach from Cafe Mor and continue along the grassy area between the beach and road and
                    turn right.</li>
                <li>From here, walk past the “Freshwater West Beach” sign, onto the pebbles and towards the lifeguard
                    box.
                </li>
                <li>Continue for 100 meters, over the smaller sand dunes.</li>
                <li>At the top of the sand dunes, you’ll see Dobby’s heartwarming memorials. Dobby’s grave is located on
                    top
                    of the dune closest to the sea.</li>
            </ul>
        </div>
    </div>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4950.0871967141165!2d-5.070359100952366!3d51.65903813739271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48693c018fea5ef3%3A0x4a6aa8123821b1f0!2sFreshwater%20West!5e0!3m2!1sen!2sin!4v1689058067724!5m2!1sen!2sin"
            width="90%" height="450" style="border: 1px solid black;;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="content-hotel">
        <p class="title"><u>Hotel's Near Shell cottage</u></p>
    </div>
    <div class="content-hotel">
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Tinworth Plaza Hotel  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 123, Main street, Tinworth  
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €120  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 123-456-7890  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.5⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Greenview Resort  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 456, Elm Avenue, Tinworth  
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €90  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 987-456-4321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.2⭐  
                    </td>
                </tr>
            </table>
        </div>
        <div class="hotel-card">
            <table>
                <tr>
                    <td>
                       Hotel : Luxury Heights Inn  
                    </td>
                </tr>
                <tr>
                    <td>
                       Address : 789, Oak street, Tinworth  
                    </td>
                </tr>
                <tr>
                    <td>
                       Price : €180  
                    </td>
                </tr>
                <tr>
                    <td>
                       Contact : +1 435-765-8321  
                    </td>
                </tr>
                <tr>
                    <td>
                       Rating : 4.8⭐  
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<br>
        <div class="rating_container">
          <h1>Rating and Review</h1>
          <form method="post" action="/shell_cottage">
            <div class="rating-stars">
                <input type="radio" name="rating" id="star5" value=5 required>
                <label class="rating-star-label" for="star5">&#9733;</label>
                <input type="radio" name="rating" id="star4" value=4 required> 
                <label class="rating-star-label" for="star4">&#9733;</label>
                <input type="radio" name="rating" id="star3" value=3 required>
                <label class="rating-star-label" for="star3">&#9733;</label>
                <input type="radio" name="rating" id="star2" value=2 required>
                <label class="rating-star-label" for="star2">&#9733;</label>
                <input type="radio" name="rating" id="star1" value=1 required>
                <label class="rating-star-label" for="star1">&#9733;</label>
            </div>
            <textarea class="review-input" placeholder="Write your review..." name="text_review" required></textarea>
            <button class="submit-button">Submit</button>
        </form>
        <% review_details.forEach(function(element) { %>
            <div class="reviews">
                <div class="review">
                <div class="rating-stars2">
                    <% for (let i = 0; i < element.rating; i++) { %>
                        <label class="rating-star-label golden">&#9733;</label>
                    <% } %>
                </div>
                <p><%= element.review %></p>
                </div>
          </div>
        <% }); %>
        </div>
<footer class="footer">
    <div class="footer1">
        <div class="contact">
            <h1>Contact Us</h1>
            <hr>
        </div>
        <div class="contact-details">
            Email - neel.s2@ahduni.edu.in | keval.j@ahduni.edu.in<br>
            Contact - +91-9426941917 | +91-9081112253<br>
            Github - <a href="https://github.com/maineel">Neel</a> | <a href="https://github.com/Kevalj9999">Keval</a>
        </div>
    </div>
    <div class="credits">
        ©️ <a target="_blank" style="text-decoration:none; color: rgb(255, 255, 255);"
            href="https://github.com/maineel/WMC">WMC_4.0</a> | 2023
    </div>
</footer>

</html>