.p-3{
  background-image: linear-gradient(to top left, #94E6FF,#2168b9);
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.table-content {
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.xyz {
  background-color: black;
  height: auto;
}

.content-heading1 {
  font-size: 75px;
  margin-top: 0px;
  padding-bottom: 13px;
  margin-bottom: 55px;
  height: 20px;
  color: rgb(196, 164, 49);
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

.hr-head{
  width: 75%;
  margin: auto;
  height:10px;
  border-width:5px;
  color: rgb(196, 164, 49);
}


.content-heading2 {
  font-size: 40px;
  margin-top: 10px;
  padding-bottom: 13px;
  margin-bottom: 60px;
  height: 20px;
  color: rgb(196, 164, 49);
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

.footer {
  height: 420px;
  background-color: #476C6B;
}

.footer1 {
  margin-left: 25%;
  height: 300px;
  width: 400px;
  color: white;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.contact {
  display: inline;
  margin-left: 400px;
  height: 300px;
  width: 400px;
  color: rgb(255, 255, 255);
}

.contact-details {
  color: rgb(255, 251, 251);
  height: 100px;
  width: 700px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.credits {
  margin: auto;
  bottom: 0;
  padding-top: 80px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  height: 38px;
  width: 70%;
  text-align: center;
}