
body{
  background-image: url('../images/signin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 1%;
}

.company{
  color: gold;
  font-family: 'Lugrasimo', cursive;
}
.form-signin {
  top: 50%;
  margin: auto;
  margin-top: 10%;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#submit:hover{
  background-color: rgb(0, 255, 13);
}